﻿@model ConsultingWebsite.Models.Job

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tasks.Task_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tasks.Task_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hourly_Wage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hourly_Wage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task_No)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
