﻿@model IEnumerable<ConsultingWebsite.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tasks.Task_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hourly_Wage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Task_No)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tasks.Task_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hourly_Wage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task_No)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Job_No }) |
            @Html.ActionLink("Details", "Details", new { id=item.Job_No }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Job_No })
        </td>
    </tr>
}

</table>
