﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top fixed-top navbar-expand-md navbar-light bg-light">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Home", "Index", "Home", new { area = ""}, new { @class = "navbar-brand"})
                <button type="button" 
                        class="navbar-toggle navbar-toggler" 
                        data-toggle="collapse" 
                        data-target="#navbarColor01"
                        aria-controls="navbarColor01"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Gibson Consulting", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="navbarColor01">
                <ul class="nav navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Home ", "Index", "Home")</li>
                    <li class="nav-item">@Html.ActionLink("Jobs ", "Index", "Jobs")</li>
                    <li class="nav-item">@Html.ActionLink("Employees ", "Index", "Employees")</li>
                    <li class="nav-item">@Html.ActionLink("Tasks ", "Index", "Tasks")</li>
                    <li class="nav-item">@Html.ActionLink("Hours ", "Index", "Hours")</li>
                </ul>
                @using (Html.BeginForm("Index", "Employees", FormMethod.Get,
                        new { @class = "form-inline navbar-form navbar-left" }))
                {
                    <div class="form-group">
                        @Html.TextBox("Search", null, new {
                            @class = "form-control input-sm",
                            placeholder = "search",
                            autocomplete = "off",
                        })
                    </div>
                    <button type="submit" class="btn btn-outline-secondary">Search</button>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
