﻿@model ConsultingWebsite.Models.Tasks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Task_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task_Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estimated_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estimated_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Task_No }) |
    @Html.ActionLink("Back to List", "Index")
</p>
